NEXT_PUBLIC_BASE_URL=
NEXT_PUBLIC_APP_BASE_URL=
NEXT_PUBLIC_STAGE=local
NEXT_PUBLIC_REST_API_URL=

NEXT_PUBLIC_SERVICE_ADMIN_PATH=admin

NEXT_PUBLIC_TOKEN_EXPIRED=1200
NEXT_PUBLIC_CREDENTIAL_PROFILE=admin_key
NEXT_PUBLIC_CREDENTIAL_TOKEN=admin_basic_token
NEXT_PUBLIC_OTP_EXPIRED=120

NEXT_PUBLIC_MAP_STYLE=
NEXT_PUBLIC_MAP_ACCESS_TOKEN=